@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');
@import url(./styles.css);
@import url(./reset.css);

:root {
    --cor-primaria: #040D12;
    --cor-secundaria: #FBFADA;
    --cor-terciaria: #00DFA2;
    --cor-hover-botao: #183D3D;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
    --fonte-terciaria: "Orbitron", sans-serif;
}

/* Adicionado */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.cabecalho {
    padding: 2% 15% 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
    position: relative;
    flex-wrap: wrap; /* Adicionado */
    justify-content: center; /* Adicionado */
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.cabecalho__menu__link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--cor-terciaria);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cabecalho__menu__link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.titulo-destaque {
    color: var(--cor-terciaria);
    font-family: var(--fonte-terciaria);
}

.texto-destaque {
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-terciaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover-botao);
    color: var(--cor-secundaria);
    font-weight: 600;
}

.foto {
    display: flex;
    width: 50%;
    height: auto;
    max-width: 600px;
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--fonte-secundaria);
}

@media (max-width: 1500px) {
    .cabecalho {
        gap: 40px;
        padding: 10%;
    }

    .cabecalho__menu {
        gap: 40px; /* Adicionado */
        justify-content: center;
    }

    .cabecalho__menu__link {
        font-size: 1.2rem;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}

@media (max-width: 768px) {
    .cabecalho {
        padding: 5%;
    }

    .cabecalho__menu {
        gap: 20px; /* Adicionado */
    }

    .cabecalho__menu__link {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .cabecalho {
        padding: 2%;
    }

    .cabecalho__menu {
        gap: 10px; /* Adicionado */
    }

    .cabecalho__menu__link {
        font-size: 0.9rem;
    }

    .apresentacao {
        padding: 2%; /* Adicionado */
    }
}
